<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content="{{name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="{{baseUrl}}/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <iframe
      src="{{url}}"
      width="100%"
      height="591"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    >Loading app...</iframe>
    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register({{{json swUrl}}}).then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
    </script>
  </body>
</html>
